table {
    width: 200px;
    /* altere o valor de acordo com o que desejar */
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 1px;
    border: 1px solid black;
}

.long-cell {
    width: 50%;
    height: 2px;
}