div {
    width: 200px;
    height: 200px;
}
main{
    background-color: blue;
    overflow: hidden;
}

/*main::after{
    content: "";
    display: block;
    clear: both;
}
*/
#div1 {
    background-color: rgb(255, 0, 0, .8);
    float: left;
}

#div2 {
    background-color: rgb(255, 255, 0, .8);
    float: right;
}

p{ background-color:green;}